body {
  background-color: #666;
  color: #6b6;
  font-family: Arial, Helvetica, sans-serif;
}

#grid {
  --GRID_COLUMNS: -1;
  display: grid;
  grid-template-columns: repeat(var(--GRID_COLUMNS), max-content);
  border-left: 1px dashed darkgray;
  border-top: 1px dashed darkgray;
  width: fit-content;
}

#game-status {
  display: flex;
  font-size: xx-large;
  justify-content: space-between;
  padding: 0.5em;
}

.cell {
  width: 32px;
  aspect-ratio: 1 / 1;
  background-color: #777;
  border-right: 1px dashed darkgray;
  border-bottom: 1px dashed darkgray;
}

.player {
  background-color: #6b6;
}

.goal {
  background-color: #cc0;
}
